@charset "utf-8";

// Typeface imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700;900&family=Merriweather:wght@300;400;700;900&display=swap');

// Font and layout tokens
$base-font-family: 'Roboto Mono', monospace !default;
$heading-font-family: 'Roboto Mono', monospace !default;
$code-font-family: 'Roboto Mono', monospace !default;
$base-font-size: 15px !default;
$mobile-font-size: 14px !default;
$base-line-height: 1.7 !default;
$container-width: 75% !default;
$container-max-width: 1100px !default;

/*
 * Global structure
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.site-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

main {
  width: 100%;
}

// Modules
@import "typography";
@import "code";
@import "layout";
@import "components";
