---
layout: default
---

<div class="home">
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<style>
    .post-list {
        list-style-type: none;
        padding: 0;
    }
    .post-list li {
        margin-bottom: 15px;
    }
    .post-list h3 {
        margin-bottom: 0;
        font-size: 1.1em;
    }
    .post-meta {
        color: #777;
        font-size: 0.8em;
        margin-top: 0;
    }
</style>
